<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/vote/candidate.css">
    <title>Documents</title>
</head>
<body>
  <div class="container">
    <ul class="candidates">
      <% data.forEach((candidate) => { %>
        <a href="/vote/<%= candidate.id %>">
          <li class="li">
           <div class="candidates-info">
            <div class="img">
              <img src="/<%= candidate.image %>" />
            </div>
              <div class="candidates-name">
                <span><%= candidate.electoralParty %>-<%= candidate.number %></span>
                <h2><%= candidate.name %></h2>
              </div>
            </div>
          </li>
        </a>
      <% }) %>
    </ul>
  </div>
  <script src="/js/vote/main.js"></script>
</body>
</html>